
.sample-cell-area{
  width: 100%;
  table-layout: fixed;
  padding: 2px;
  padding-left: 50px;
  background: #f5f5ff;
}
.sample-cell-table{
  display: table;
}
.sample-cell-table > div{
  display: table-cell;
}
