
gridview-container{
  width: 100%;
}

.sample_02{
  width:100%;
  border-collapse: separate;
  border-spacing: 0px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.sample_02 th{
  width: 25%;
  padding: 4px;
  text-align: left;
  vertical-align: top;
  color: #444;
  background-color: #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.sample_02 td{
  padding: 4px;
  background-color: #fafafa;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
